##### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data = [4,8,15,16,23,42]
series_df = pd.Series(data)
series_df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

##### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
data = [1, 2, 3, 4,8,15,16,23,42,54 ]
series_df = pd.Series(data)
series_df

0     1
1     2
2     3
3     4
4     8
5    15
6    16
7    23
8    42
9    54
dtype: int64

##### Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
data = {"Name": [ "Alice", "Bob", "Claire"],
       "Age": [25,30,27],
       "Gender": ["Female", "Male", "Female"]}

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

##### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

- In Pandas, a DataFrame is a two-dimensional, tabular data structure that is designed to store and manipulate data in a way that is similar to a spreadsheet or a SQL table. It is one of the core data structures in Pandas and is particularly well-suited for handling structured data. A DataFrame consists of rows and columns, where each column can be thought of as a Pandas Series.

 - DataFrame:

 - Two-dimensional structure with rows and columns. Can hold multiple columns of data, and each column can have a different data type. Commonly used for storing and working with structured data, such as data read from a CSV file, an Excel spreadsheet, or a SQL database.

 - Series:

 - One-dimensional data structure, similar to a NumPy array. Represents a single column or a single row of data within a DataFrame. Can hold data of a single data type.

##### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

 - head() and tail():

   - head(n) returns the first n rows of the DataFrame, while tail(n) returns the last n rows. These are useful for quickly inspecting the beginning and end of your data.
   
  - info():

     - info() provides a summary of the DataFrame, including data types, non-null values, and memory usage. 
  - describe():

     - describe() generates summary statistics for numerical columns, such as count, mean, standard deviation, minimum, and maximum.

##### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

 - Series is mutable: You can change the values of elements in a Pandas Series after it has been created. For example, you can modify individual elements by assigning new values to them.

 - DataFrame is mutable: Similar to Series, you can modify the values of individual cells or entire columns in a Pandas DataFrame. You can add or remove columns, change column names, and perform various data manipulation operations on a DataFrame.

 - Panel is not mutable: The Panel data structure used to exist in earlier versions of Pandas (before version 0.25.0), but it has been removed from the library. Panel was designed to handle three-dimensional data, and it was not as commonly used as Series and DataFrame.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [4]:
import pandas as pd

# Create multiple Series
first_names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([15, 30, 35, 40])
cities = pd.Series(['Accra', 'Lagos', 'Miami', 'Chicago'])

# Create a DataFrame using the Series
data = {
    'First Name': first_names,
    'Age': ages,
    'City': cities
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

  First Name  Age     City
0      Alice   15    Accra
1        Bob   30    Lagos
2    Charlie   35    Miami
3      David   40  Chicago