#### Q1. List any five functions of the pandas library with execution.

 - head()
 - describe
 - groupby()
 - read_csv()
 - plot()

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [3]:
import pandas as pd

# Example usage:
data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)
df

    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

In [4]:
def custom_reindex(df):
    new_index = pd.Series(range(1, 2 * len(df), 2))
    new_df = df.set_index(new_index)
    return new_df

new_df = custom_reindex(df)# applying the customer reindex
new_df

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [6]:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

def cal_sumof_top3(df):
    values_columns = df["Values"]
    sum_func = values_columns.head(3).sum()
    print(f"Sum of the first three values in the 'Values' column: {sum_func}")
    

cal_sumof_top3(df)

Sum of the first three values in the 'Values' column: 60

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [7]:
data = {'Text': ["i am lagging behind in class.", "data class master is the best course.", "i am from africa"]}
df = pd.DataFrame(data)

def count_of_words(df):
    words_count = df["Text"]
    df["words_counts"] = df["Text"].str.split().apply(len)
    return df
    
    
count_of_words(df)

                                    Text  words_counts
0          i am lagging behind in class.             6
1  data class master is the best course.             7
2                       i am from africa             4

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

 - DataFrame.size:

     - DataFrame.size returns the total number of elements in the DataFrame, which is equivalent to the product of the number of rows and the number of columns. It is calculated as DataFrame.shape[0] * DataFrame.shape[1].
     
 - DataFrame.shape:

     - DataFrame.shape returns a tuple containing the number of rows and the number of columns in the DataFrame.

#### Q6. Which function of pandas do we use to read an excel file?

 - import pandas as pd


 - df = pd.read_excel('your_file.xlsx')

#### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

 - The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [9]:
data = {'Email': ["Moses.doe@hotmail.com", "Ane.smith@gmail.com", "alice@YAHOO.com"]}
df = pd.DataFrame(data)


def extract_username(df):
    df["Username"] = df["Email"].str.split("@").str[0]
    return df

extract_username(df)

                   Email   Username
0  Moses.doe@hotmail.com  Moses.doe
1    Ane.smith@gmail.com  Ane.smith
2        alice@YAHOO.com      alice

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

- For example, if df contains the following values:

  |A |B |C
  |- |- |-
0 |3 |5 |1
1 |8 |2 |7
2 |6 |9 |4
3 |2 |3 |5
4 |9 |1 |2

- Your function should select the following rows: 
  |A |B |C
  |- |- |-
1 |8 |2 |7
4 |9 |1 |2
- The function should return a new DataFrame that contains only the selected rows.

In [10]:
data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

def selected_rows(df):
    selected_rows = df.drop([0,2,3])
    return selected_rows

selected_rows(df)

   A  B  C
1  8  2  7
4  9  1  2

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [11]:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

def cal_stats(df):
    values_column = df['Values']
    mean = values_column.mean()
    median = values_column.median()
    std_dev = values_column.std()
    
    return mean, median, std_dev


mean, median, std_dev = cal_stats(df)
print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Standard Deviation: {std_dev}")

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days  for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [12]:
data = {'Date': ['2023-10-01', '2023-10-02', '2023-10-03', '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-07'],
        'Sales': [10, 15, 20, 25, 30, 35, 40]}
df = pd.DataFrame(data)

def cal_moving_avg(df):
    df["Date"] = pd.to_datetime(df["Date"])
    df = df.sort_values(by= "Date")
    df["moving_average"] = df["Sales"].rolling(window=7, min_periods=1).mean()
    
    return df

cal_moving_avg(df)

        Date  Sales  moving_average
0 2023-10-01     10            10.0
1 2023-10-02     15            12.5
2 2023-10-03     20            15.0
3 2023-10-04     25            17.5
4 2023-10-05     30            20.0
5 2023-10-06     35            22.5
6 2023-10-07     40            25.0

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.


For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [13]:
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

def add_day_of_week_name(df):
    df["Date"] = pd.to_datetime(df["Date"])
    df["day_of_week"] = df["Date"].dt.day_name()
    return df
        
add_day_of_week_name(df)

        Date day_of_week
0 2023-01-01      Sunday
1 2023-01-02      Monday
2 2023-01-03     Tuesday
3 2023-01-04   Wednesday
4 2023-01-05    Thursday

#### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [14]:
data = {'Date': ['2023-01-01', '2023-01-15', '2023-02-10', '2023-01-25', '2023-03-05']}
df = pd.DataFrame(data)

def date_with_a_range(df):
    df["Date"] = pd.to_datetime(df["Date"])
    mask = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return mask
date_with_a_range(df)

        Date
0 2023-01-01
1 2023-01-15
3 2023-01-25

#### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

 - To use the basic functions of pandas, you need to import the pandas library itself.
 - import pandas as pd