import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]


duration = [2,3,6,4]


df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})


#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

 - loc (Label-based selection):
        loc is primarily label-based, which means it uses labels or column names to select data from the DataFrame.
        
 - iloc (Integer-based selection):

        iloc is primarily integer-based, which means it uses integer positions (row and column numbers) to select data from the DataFrame.

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [2]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.706081  0.819408  0.861338  0.585955  0.785440  0.097599
2  0.457023  0.860115  0.827575  0.465698  0.158859  0.775661
3  0.715791  0.506302  0.107544  0.097118  0.104049  0.394497
4  0.646953  0.054611  0.255205  0.514244  0.482321  0.323276
5  0.217219  0.528113  0.607436  0.508461  0.838752  0.153147
6  0.929037  0.046833  0.732885  0.490812  0.078973  0.729903

In [5]:
reindex=[3,0,1,2]
new_df = df.reindex(reindex)
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.715791  0.506302  0.107544  0.097118  0.104049  0.394497
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.706081  0.819408  0.861338  0.585955  0.785440  0.097599
2  0.457023  0.860115  0.827575  0.465698  0.158859  0.775661

In [6]:
# new_df.loc[2] will access the row with label 2.
result_loc = new_df.loc[2]
result_loc

column_1    0.457023
column_2    0.860115
column_3    0.827575
column_4    0.465698
column_5    0.158859
column_6    0.775661
Name: 2, dtype: float64

In [8]:
# new_df.iloc[2] will access the third row, considering 0-based indexing.
result_iloc = new_df.iloc[2]
result_iloc

column_1    0.706081
column_2    0.819408
column_3    0.861338
column_4    0.585955
column_5    0.785440
column_6    0.097599
Name: 1, dtype: float64

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
 - (i) mean of each and every column present in the dataframe.
 - (ii) standard deviation of column, ‘column_2’

In [9]:
# (i)

df.mean()

column_1    0.612017
column_2    0.469230
column_3    0.565330
column_4    0.443715
column_5    0.408066
column_6    0.412347
dtype: float64

In [11]:
#(ii)

df["column_2"].std()

0.3551298248661703

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
 - If you are getting errors in executing it then explain why.
 - [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [28]:
df.loc[2, "column_2"] = "alfred"

In [29]:
df

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.706081  0.819408  0.861338  0.585955  0.785440  0.097599
2  0.457023    alfred  0.827575  0.465698  0.158859  0.775661
3  0.715791  0.506302  0.107544  0.097118  0.104049  0.394497
4  0.646953  0.054611  0.255205  0.514244  0.482321  0.323276
5  0.217219  0.528113  0.607436  0.508461  0.838752  0.153147
6  0.929037  0.046833  0.732885  0.490812  0.078973  0.729903

In [30]:
df["column_2"].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

its unable to sum the column 2 and provide the mean because of the strings value "alfred"

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

 - Pandas window functions, also known as rolling or expanding functions, are used for performing calculations over a specified window or range of data in a DataFrame or Series. These functions are particularly useful for time-series data or when you need to calculate statistics over a moving window of data. Some common window functions include mean, sum, min, max, etc. They allow you to calculate values for a subset of data, moving through the dataset, and perform operations like rolling means, cumulative sums, and more

#### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [31]:
# Get the current date and time
current_datetime = pd.to_datetime('now')

# Extract and print the current month and year
current_month = current_datetime.strftime("%B")
current_year = current_datetime.strftime("%Y")

print("\nCurrent Month:", current_month)
print("Current Year:", current_year)

2023-10-25 15:28:20,363 [16924] WARNING  py.warnings:109: [JupyterRequire] C:\Users\ADOWUONA-OWOO\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:2224: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

Current Month: October
Current Year: 2023

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [38]:
try:
    date1 = pd.to_datetime(input("Enter the first date (YYYY-MM-DD): "))
    date2 = pd.to_datetime(input("Enter the second date (YYYY-MM-DD): "))
    
    time_difference = date2 - date1
    
    days = time_difference.days
    hours, seconds = divmod(time_difference.seconds, 3600)
    minutes = seconds // 60
    
    print(f"Time Difference:")
    print(f"Days: {days} days")
    print(f"Hours: {hours} hours")
    print(f"Minutes: {minutes} minutes")

except ValueError:
    print("Invalid date format. Please enter dates in the format 'YYYY-MM-DD'.")

Enter the first date (YYYY-MM-DD): 2017-10-01
Enter the second date (YYYY-MM-DD): 2023-10-31
Time Difference:
Days: 2221 days
Hours: 0 hours
Minutes: 0 minutes

#### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [54]:
import pandas as pd

# Prompt the user for the file path
file_path = input("Enter the path to the CSV file: ")

try:
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Prompt the user for the column name to convert to categorical
    column_name = input("Enter the name of the column to convert to categorical: ")

    # Convert the specified column to categorical
    df[column_name] = pd.Categorical(df[column_name])

    # Prompt the user to specify category order (optional)
    category_order = input("Enter the category order (comma-separated, optional): ")
    if category_order:
        category_order = [cat.strip() for cat in category_order.split(',')]
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Sort the DataFrame based on the categorical column
    sorted_df = df.sort_values(by=column_name)

    # Display the sorted data
    print("\nSorted Data:")
    print(sorted_df)

except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
except KeyError:
    print(f"Column '{column_name}' not found in the CSV file.")

Enter the path to the CSV file: C:\Users\ADOWUONA-OWOO\Desktop\Python\services.csv
Enter the name of the column to convert to categorical: status
Enter the category order (comma-separated, optional):

Sorted Data:
    id  location_id  program_id         accepted_payments  \
0    1            1         NaN                       NaN
18  19           19         NaN                       NaN
17  18           18         NaN                       NaN
16  17           17         NaN                       NaN
15  16           16         NaN                       NaN
14  15           15         NaN                       NaN
13  14           14         NaN                       NaN
12  13           13         NaN                       NaN
21  22           22         NaN  Cash, Check, Credit Card
10  11           11         NaN                       NaN
11  12           12         NaN                       NaN
8    9            9         NaN                       NaN
7    8            8         NaN                       NaN
6    7            7         NaN                       NaN
5    6            6         NaN                       NaN
4    5            5         NaN                       NaN
3    4            4         NaN                       NaN
2    3            3         NaN                       NaN
1    2            2         NaN                       NaN
9   10           10         NaN                       NaN
22  23           22         NaN                       NaN
19  20           20         NaN                       NaN
20  21           21         NaN                       NaN

           alternate_name                                application_process  \
0                     NaN                         Walk in or apply by phone.
18                    NaN     Call for screening appointment (650-347-3648).
17                    NaN  Call for screening appointment. Medical visits...
16                    NaN                              Call for information.
15                    NaN  Walk in. Written application, identification r...
14                    NaN          Walk in or through other agency referral.
13                    NaN  Call for appointment. Referral from human serv...
12                    NaN  Walk in. Proof of California residency require...
21  Fotos para pasaportes                  Walk in or apply by phone or mail
10                    NaN  Walk in. Proof of California residency require...
11                    NaN  Walk in or apply by phone, email or webpage re...
8                     NaN  Walk in. Proof of residency in California requ...
7                     NaN                                    Apply by phone.
6                     NaN  Apply by phone or be referred by a doctor, soc...
5                     NaN  Walk in or apply by phone for membership appli...
4                     NaN                             Phone for information.
3                     NaN                                    Apply by phone.
2                     NaN        Phone for information (403-4300 Ext. 4322).
1                     NaN                 Apply by phone for an appointment.
9                     NaN  Walk in. Proof of California residency to rece...
22                    NaN                  Walk in or apply by phone or mail
19                    NaN                                           Walk in.
20                    NaN                    By phone during business hours.

                                             audience  \
0   Older adults age 55 or over, ethnic minorities...
18                                                NaN
17                                                NaN
16                                                NaN
15                                                NaN
14  Adult alcoholic/drug addictive men and women w...
13  Individuals or families with low or no income ...
12                                                NaN
21  Profit and nonprofit businesses, the public, m...
10                                                NaN
11  Adults, parents, children in 1st-12th grades i...
8      Ethnic minorities, especially Spanish speaking
7   Senior citizens age 60 or over, disabled indiv...
6   Older adults who have memory or sensory loss, ...
5                                             Any age
4   Low-income working families with children tran...
3   Parents, children, families with problems of c...
2   Older adults age 55 or over who can benefit fr...
1        Residents of San Mateo County age 55 or over
9                                                 NaN
22  Second service and nonprofit businesses, the p...
19                                                NaN
20                                                NaN

                                          description  \
0   A walk-in center for older adults that provide...
18  Provides free medical and dental care to those...
17  By appointment only, Project Smile provides a ...
16  Provides emergency food, clothing and furnitur...
15  Provides emergency assistance including food a...
14  Provides a long-term (6-12 month) residential ...
13  Provides food, clothing, bus tokens and shelte...
12  Provides general reading materials, including ...
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
10  Provides general reading materials, including ...
11  Offers an intergenerational literacy program f...
8   Provides general reading material, including b...
7   Delivers a hot meal to the home of persons age...
6   Rosener House is a day center for older adults...
5   A multipurpose center offering a wide variety ...
4   Provides fixed 8% short term loans to eligible...
3   Provides supervised visitation services and a ...
2   Offers supportive counseling services to San M...
1   Provides training and job placement to eligibl...
9   Provides general reading and media materials, ...
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...
19              no unrequired fields for this service
20                                just a test service

                                          eligibility                  email  \
0   Age 55 or over for most programs, age 60 or ov...                    NaN
18    Low-income person without access to health care                    NaN
17    Low-income person without access to health care                    NaN
16                                Low-income families                    NaN
15                      None for emergency assistance                    NaN
14  Age 21-60, detoxed, physically able and willin...                    NaN
13  None for most services. For emergency assistan...                    NaN
12    Resident of California to obtain a library card                    NaN
21                                               None  passports@example.org
10  Resident of California to obtain a library car...                    NaN
11  English-speaking adult reading at or below 7th...                    NaN
8     Resident of California to obtain a library card                    NaN
7             Homebound person unable to cook or shop                    NaN
6                                      Age 18 or over                    NaN
5                                                None                    NaN
4   Eligibility: Low-income family with legal cust...                    NaN
3                                                None                    NaN
2         Resident of San Mateo County age 55 or over                    NaN
1   Age 55 or over, county resident and willing an...                    NaN
9             Resident of California to obtain a card                    NaN
22                                               None                    NaN
19                                                NaN                    NaN
20                                                NaN                    NaN

    ...                                           keywords languages  \
0   ...  ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
18  ...  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
17  ...  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
16  ...  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
15  ...  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
14  ...  ALCOHOLISM SERVICES, Residential Care, DRUG AB...       NaN
13  ...  COMMUNITY SERVICES, Interpretation/Translation...       NaN
12  ...  EDUCATION SERVICES, Library, Libraries, Public...       NaN
21  ...                                    Salud, Medicina   Spanish
10  ...  EDUCATION SERVICES, Library, Libraries, Public...       NaN
11  ...  EDUCATION SERVICES, Adult, Alternative, Litera...       NaN
8   ...  EDUCATION SERVICES, Library, Libraries, Public...       NaN
7   ...  ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
6   ...  ADULT PROTECTION AND CARE SERVICES, Adult Day ...       NaN
5   ...  ADULT PROTECTION AND CARE SERVICES, In-Home Su...       NaN
4   ...     COMMUNITY SERVICES, Speakers, Automobile Loans       NaN
3   ...  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...       NaN
2   ...  Geriatric Counseling, Older Adults, Gay, Lesbi...       NaN
1   ...  EMPLOYMENT/TRAINING SERVICES, Job Development,...       NaN
9   ...  EDUCATION SERVICES, Library, Libraries, Public...       NaN
22  ...         Ruby on Rails/Postgres/Redis, testing, wic       NaN
19  ...                                                NaN       NaN
20  ...                                                NaN       NaN

                                    name  \
0        Fair Oaks Adult Activity Center
18         San Mateo Free Medical Clinic
17                         Project Smile
16     South San Francisco Citadel Corps
15                       Sunnyvale Corps
14           Adult Rehabilitation Center
13                    Redwood City Corps
12                 Redwood Shores Branch
21                       Passport Photos
10                       Schaberg Branch
11                          Project Read
8                       Fair Oaks Branch
7         Meals on Wheels - South County
6       Rosener House Adult Day Services
5   Little House Recreational Activities
4      Economic Self-Sufficiency Program
3               Family Visitation Center
2                 Senior Peer Counseling
1       Second Career Employment Program
9                           Main Library
22                  Example Service Name
19             Service with blank fields
20       Service for Admin Test Location

                          required_documents  \
0                                        NaN
18                                       NaN
17                                       NaN
16                                       NaN
15                                       NaN
14                                       NaN
13                                       NaN
12                                       NaN
21  Government-issued picture identification
10                                       NaN
11                                       NaN
8                                        NaN
7                                        NaN
6                                        NaN
5                                        NaN
4                                        NaN
3                                        NaN
2                                        NaN
1                                        NaN
9                                        NaN
22                                       NaN
19                                       NaN
20                                       NaN

                            service_areas    status  \
0                                   Colma    active
18                    Belmont, Burlingame    active
17                         East Palo Alto    active
16  Colma, Daly City, South San Francisco    active
15                                    NaN    active
14       Alameda County, San Mateo County    active
13    Belmont, Burlingame, East Palo Alto    active
12                       San Mateo County    active
21       Alameda County, San Mateo County    active
10                       San Mateo County    active
11                              Daly City    active
8                        San Mateo County    active
7                 Belmont, East Palo Alto    active
6     Belmont, Burlingame, East Palo Alto    active
5                        San Mateo County    active
4                        San Mateo County    active
3                        San Mateo County    active
2                        San Mateo County    active
1                        San Mateo County    active
9                        San Mateo County    active
22       San Mateo County, Alameda County    active
19                                    NaN   defunct
20                       San Mateo County  inactive

                                            wait_time                 website  \
0                                            No wait.                     NaN
18                                            Varies.                     NaN
17                                            Varies.                     NaN
16                                                NaN                     NaN
15                                           No wait.                     NaN
14  Varies according to available beds for men and...                     NaN
13                                  Up to 20 minutes.                     NaN
12                                           No wait.                     NaN
21                                No wait to 2 weeks.  http://www.example.com
10                                           No wait.                     NaN
11  Depends on availability of tutors for small gr...                     NaN
8                                            No wait.                     NaN
7                                            No wait.                     NaN
6                                            No wait.                     NaN
5                                            No wait.                     NaN
4                                                 NaN                     NaN
3                                            No wait.                     NaN
2                                             Varies.                     NaN
1                                             Varies.                     NaN
9                                            No wait.                     NaN
22                                 No wait to 2 weeks  http://www.example.com
19                                                NaN                     NaN
20                                                NaN                     NaN

                                taxonomy_ids       Date
0                                        NaN  5/24/2023
18                                       NaN  6/11/2023
17                                       NaN  6/10/2023
16                                       NaN   6/9/2023
15                                       NaN   6/8/2023
14                                       NaN   6/7/2023
13                                       NaN   6/6/2023
12                                       NaN   6/5/2023
21  105, 108, 108-05, 108-05-01, 111, 111-05  6/14/2023
10                                       NaN   6/3/2023
11                                       NaN   6/4/2023
8                                        NaN   6/1/2023
7                                        NaN  5/31/2023
6                                        NaN  5/30/2023
5                                        NaN  5/29/2023
4                                        NaN  5/28/2023
3                                        NaN  5/27/2023
2                                        NaN  5/26/2023
1                                        NaN  5/25/2023
9                                        NaN   6/2/2023
22                                       NaN  6/15/2023
19                                       NaN  6/12/2023
20                                       NaN  6/13/2023

[23 rows x 23 columns]

#### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [55]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user for the file path
file_path = input("Enter the path to the CSV file: ")

try:
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Prompt the user for the date and product category columns
    date_column = input("Enter the name of the date column: ")
    category_column = input("Enter the name of the product category column: ")

    # Group and aggregate data to create a pivot table
    pivot_table = df.pivot_table(index=date_column, columns=category_column, values='sales', aggfunc='sum')

    # Create a stacked bar chart
    pivot_table.plot(kind='bar', stacked=True, figsize=(10, 6))

    # Customize the chart
    plt.title('Stacked Bar Chart of Sales by Product Category Over Time')
    plt.xlabel(date_column)
    plt.ylabel('Sales')
    plt.legend(title=category_column, loc='upper right')

    # Display the chart
    plt.show()

except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
except KeyError:
    print("Invalid column name. Please check the column names in the CSV file.")

Enter the path to the CSV file: C:\Users\ADOWUONA-OWOO\Desktop\Python\services.csv
Enter the name of the date column: Date
Enter the name of the product category column: status
Invalid column name. Please check the column names in the CSV file.

#### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

The program should do the followingM
 * I Prompt the user to enter the file path of the CSV file containing the student dataR
 * I Read the CSV file into a Pandas DataFrameR
 * I Calculate the mean, median, and mode of the test scores using Pandas toolsR
 * I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
 * I Student ID: The ID of the studentR
 * I Test Score: The score of the student's test.

Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:
Student_ID,Test_Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [56]:
pip install pandas tabulate

Requirement already satisfied: pandas in c:\users\adowuona-owoo\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: tabulate in c:\users\adowuona-owoo\anaconda3\lib\site-packages (0.8.10)
Requirement already satisfied: pytz>=2020.1 in c:\users\adowuona-owoo\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\adowuona-owoo\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\adowuona-owoo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\adowuona-owoo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
from tabulate import tabulate

# Prompt the user for the file path of the CSV file containing student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

try:
    # Read the CSV file into a Pandas DataFrame
    df = pd.read_csv(file_path)

    # Calculate the mean, median, and mode of the test scores
    mean_score = df['Test_Score'].mean()
    median_score = df['Test_Score'].median()
    mode_scores = df['Test_Score'].mode().tolist()

    # Create a table to display the results
    result_table = [
        ["Statistic", "Value"],
        ["Mean", mean_score],
        ["Median", median_score],
        ["Mode", ", ".join(map(str, mode_scores))]
    ]

    # Display the table
    table = tabulate(result_table, headers="firstrow", tablefmt="grid")
    print(table)

except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
except KeyError:
    print("Invalid column names. Please check the column names in the CSV file.")

Enter the file path of the CSV file containing the student data: C:\Users\ADOWUONA-OWOO\Desktop\Python\Students.csv
+-------------+---------+
| Statistic   |   Value |
+=============+=========+
| Mean        |    83.5 |
+-------------+---------+
| Median      |    85   |
+-------------+---------+
| Mode        |    85   |
+-------------+---------+